apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-kind-prometheus-kube-prome-alertmanager
  namespace: monitoring
  labels:
    app: kube-prometheus-stack
    chart: kube-prometheus-stack
    release: my-prometheus
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m

    route:
      receiver: 'discord'
      group_by: ['alertname', 'namespace']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 1h

    receivers:
      - name: 'discord'
        discord_configs:
          - webhook_url: 'https://discord.com/api/webhooks/1427945708442357772/u-NNE5E4P7prhp9kgpkhOP7LDlYsPS96CvUKfbLKO0e-_UO3CHw1'
            send_resolved: true
            title: '{{ .CommonLabels.alertname }}'
            message: |-
              {{ range .Alerts }}
              **Alert:** {{ .Labels.alertname }}
              **Severity:** {{ .Labels.severity }}
              **Instance:** {{ .Labels.namespace }}/{{ if .Labels.pod }}{{ .Labels.pod }}{{ else }}N/A{{ end }}
              **Description:** {{ .Annotations.description }}
              **Summary:** {{ .Annotations.summary }}
              **Status:** {{ .Status | toUpper }}
              **Starts At:** {{ .StartsAt }}
              **Ends At:** {{ .EndsAt }}

              {{ end }}
